@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



       <h1>This is a test.</h1>
        

        <div class="header">
            <h2>Welcome to web tutorial  <img src="~/images/logo2-copy.png" /></h2>
        </div>
        


        <div class="row">
            <div class="column" style="background-color:gainsboro;">
                <h2>Level 1</h2>
                <img src="~/images/images (3).jpg" />
                <a href="#"><h3>Link 1</h3></a>
                   
            </div>
            <div class="column" style="background-color:gainsboro;">
                <h2>Level 2</h2>
                <img src="~/images/images (4).jpg" />
                <a href="#"><h3>Link 1</h3></a>
            </div>

            <div class="column" style="background-color:gainsboro;">
                <h2>Level 3</h2>
                <img src="~/images/images (1).jpg" />
                <a href="#"><h3>Link 1</h3></a>
            </div>
        </div>

        <div class="footer">
            <p>Footer</p>
        </div>

    </body>
</html>